body{
    background: #e5bc91;
    margin: 50px;
}

p{
    background: yellow;
}

.p1{
    background: lawngreen;
}

.border1{
    border: 2px solid black;
}
.border2{
    border: 2px solid black;
}

.border3{
    border: 2px solid black;
}

p.p1.border1 .talk{
    background: blueviolet;
}

h1{
    background: orange;
}

h2{
    background: aqua;
}